* {margin: 0;
padding: 0;
box-sizing: border-box;
}
.dheader{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
  
}
.img-header{ width: 80px;
height: 80px;
}
.drop a { text-decoration: none;
color: black;
font-size: 30px;
margin-left: 200px;
}
.drop{ margin-top: 10px;
position: relative;

}
.drop-contact{ 
  position: absolute; 
  visibility: hidden;
  background-color: white;
 
   
  margin-left: 200px; 
  width: 150px;
  height: 150px;
  
}
.drop:hover .drop-contact{ visibility: visible;
background-color: white;
display: block;
font-size: 20px;
margin-top: 10px;
text-align: center;
cursor: pointer;
}
.drop a:hover {border: 2px solid gray; }
  
.ul-header{
  margin-left: 30px; 
  margin-top: 15px;
}
.ul-header ul a{ text-decoration: none;
list-style: none;
color: black;
font-size: 25px; 
float: left;
margin-left: 50px;
}
.ul-header a:hover{ border: 2px solid gray;}
.icon-header{ font-size: 28px;
margin-left: 50px;
margin-top: 15px;
}
.icon-header a{ color: black;}
.section{
  width: 80%;
  margin: auto;
  
}
  .sec1-d1{ 
    width: 100%;
    height: 400px;
  background-color: rgb(71, 55, 55);
  margin-top: 150px;
  }
  .sec1-img1{
    width: 400px;
    margin-left: 700px;
    margin-top: 100px;
  }
  .sec1-tittle1{
    font-size: 50px;
    color: white;
    margin-top: -150px;
margin-left: 100px;    
  }
  .sec1-bt1{
    background-color: white;
    color: rgb(71, 55, 55);
    margin-left: 200px;
    margin-top: 50px;
    cursor: pointer;
    font-size: 30px;
  }
  .section2{
    width: 80%;
    margin: auto;
    margin-top: 100px; 
    
   
  }
  .sec2-tittle2{
    font-size: 40px;
    text-align: center;
  }
  .sec2-line1{ width: 80px;
  height: 3px;
  background-color: rgb(71, 55, 55);
  margin: auto; 
  transition: 2s;
  }
  .sec2-line1:hover{ width: 150px; transition: 2s;}
  .sec2-d2{ width: 250px;
  height: 250px;
  margin-top: 30px;
  text-align: center;
  margin-left: 60px;
  }
  .sec2-img2{ width: 100%;
  height: 100%;
  }
  .d2-tittle1{ font-size: 30px;
  }
  .sec2-bt1{ 
     cursor: pointer; 
     visibility: hidden
  }
  .sec2-d2:hover .sec2-bt1{
    visibility: visible;
  }
  .sec2-parant{
    display: flex;
  }
  .section3{
    width: 80%;
    margin: auto;
    margin-top: 100px; }

.item1{
  width: 150px;
  height: 150px;
  background-color: blue;

}
.sec3-parant{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20px;
  grid-template-rows: 150px 150px 150px 150px ;
  grid-gap: 15px;
  margin-left: 80px;
}
.item2{
  background-color: rgb(0, 0, 0);
  color: rgb(4, 0, 0);
  grid-column: 1/4;
  grid-row: 1/3;
 
}
.item0{ width: 250px;
  height: 300px;

  color: white;
  grid-column: 4/6;
  grid-row: 1/3;
  transition-duration: 5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: transform;
    background-image: url(../images/desktop-wallpaper-kawasaki-h2r-logo-for-iphone-x-8-7-6.jpg);
    background-size: cover;
  border: 1px solid rgb(208, 171, 171);
  text-align: center;
}
.item0:hover{ 
  width: 260px;
  height: 317px;
  transition: 1s;

}
.item2 i{ font-size: 50px;
padding: 30px; 
color: rgb(254, 254, 254);}

.tittle-item2{margin-top: -10px; color: white;}
.tittle-item0{ font-size: 30px;
color: rgb(251, 251, 251);
text-align: center;
}
.item0-span{ color: rgb(254, 254, 254);
font-size: 30px;
 }
 .p-item2{ color: white;}
 .line1{ background-color: white;
width: 80px;
height: 3px;
margin-top: 50px;
margin-left: 180px;
}
.line2{ background-color: white;
  width: 80px;
  height: 3px;
  margin-top: -3px;
  margin-left: 300px;
  }

  .section4{
    width: 80%;
    margin: auto;
    margin-top: 100px; 
  display: flex;
  }

  .icon-d{ width: 300px;
  height: 150px; 

  margin-top: -300px;
  margin-left: 100px;
  text-align: center;
border-right: 1px solid black;
} 
.icon-d{ font-size: 60px;}
.a-icon{ color: black;
}
.a-icon i:hover{ transform: rotateX(360deg);
  transition: 1s;
}
.section5{
  width: 80%;
  margin: auto;
  margin-top: 100px; 
}

.sec5-line{ 
  background-color: rgb(71, 55, 55);
  width: 45px;
  height: 3px;
  margin: auto;
}
.sec5-line:hover{ width: 70px;
transition: 1s;
}
.sec5-tittle{ font-size: 40px;
text-align: center;
}
.sec5-span{ font-size: 30px;
margin-left: 35px;
}
.d-span{ text-align: center;
margin-top: 30px;
}
.sec5-parant{ margin-top: 40px; 
  display: flex;
}
.sec5-parant2{ margin-top: 150px; 
  display: flex;
}

.child1{ width: 300px;
height: 300px; 
position: relative; 
transform-style: preserve-3d;
margin-left: 50px;
}
.child1-overlay{ position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  opacity: 0.7;
  width: 300px;
  height: 300px;
  flex: 1;
  text-align: center; 
  visibility: hidden; 
}
.child1:hover .child1-overlay{visibility: visible; 
  transform: rotateY(360deg);
transition: 1s; }
.img-child1{ width: 300px;
  height: 300px;
  }
  .child1-overlay a{ font-size: 40px;
  color: rgb(0, 0, 0);
  }
  .icon-overlay{ margin-top: 150px;}
  .star{ color: yellow ;}
  .child1-span{ font-size: 30px;}
  .finally{width: 80%;
    margin: auto;
    margin-top: 100px; }